@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

h1 {
    text-align: center;

    /* padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black; */
}

/* movies {
    text-align: center;
} */

#like-section {
    text-align: center;
}

#like-button {
    text-align: center;
    height: 50px;
    color: green; 
}

#like-count {
    font-family: Impact;
    text-align: center;
}

:root{
    --primary-color:#54a393;
    --secondary-color: #41987b;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #3e9f9f;
}