body {
    
    background: url("https://lh3.googleusercontent.com/qGuZeegxSpX5YF_jAYsIvqPuNCrSalvbLpoFFbvYMmIcuFOgcnZMf3FbfRU4NUY2TeoWNuurc7Jkt8AIUzGhjU5Ct2ieF8IfpHVcS-S3OQ19DrFHnzmYF4W7MTMu9IFyr1LFiKkkDE4=w307-h315-p-k"), url("https://lh3.googleusercontent.com/ylag5hg4t3G_Tsn10mcAMSGQmZw-PHuuGTEwgQIWLRVgQzrKOyDKLmclLGFhfsxTf9xncFPq3mU5nR8QG3zMC97SPvo__L0OXdbEcbX_sFlNmUOPs_r9cVab4A175Gjz8oMlnio0Tes=w248-h315-p-k");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    
}

h1 {
    text-align: center;
    font-family: Impact;
    font-size: 80px;
 }

/* movies {
    text-align: center;
} */

#like-section {
    text-align: center;
}

#like-button {
    text-align: center;
    height: 30px;
    color: green; 
}

#like-count {
    font-family: Impact;
    text-align: center;
}