
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

/* *{
    box-sizing: border-box; */


/* #right-arrrow {
    
}

#left-arrow {

} */

#root{
    color: #f0ead6;
}

#nav-dropdown{
    position: relative;
    font-family: Impact;
    color: #f0ead6;
    font-size: 35px;
    padding:0.5rem 1rem;

}

/* movies {
    text-align: center;
} */

/* #like-section {
    text-align: center;
} */

#like-button {
    text-align: right;
    text-size-adjust: 20px;
    background-color: transparent;
    border: var(--secondary-color);
    border-radius: 0%;
    height: 20px;
    color: green; 
}

#like-count {
    font-family: Impact;
    text-align: left;
}

:root{
    --primary-color:#54a393;
    --secondary-color: #41987b;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    padding:.5rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:1rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#f0ead6;
    font-family: inherit;
    text-align: left;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #fff;
}

#movie-card {
    text-align: center;
    image-rendering: crisp-edges;
    padding: 3px;
    width: 25rem;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 5px 7px var(--secondary-color);
}

#movie-img {  
    max-width: 100%;  
    height: auto;  
    box-shadow: 3px 4px var(--secondary-color);
    color: #f0ead6;
}

